{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<div style="height: 150px" class="bg-dark">
</div>

<div class="d-inline-flex m-4">
    <div class="avatar me-3">
        <img class="avatar-img" src="{{ app.user.avatar ? asset("images/avatars/"~ app.user.avatar) : asset("images/avatars/default.jpg") }}" alt="avatar">
    </div>
    <h1>{{ app.user }}</h1>
</div>

<section class="row">
    <div class="col-3">
        <!-- Dashboard menu -->
        <nav class="list-group list-group-item-secondary list-group-borderless">
            <a class="list-group-item active" href="#"><i class="bi bi-ui-checks-grid fa-fw me-2"></i>Tableau de bord</a>
            <a class="list-group-item" href="#"><i class="bi bi-tools fa-fw me-2"></i></i>Mes compétences</a>
            <a class="list-group-item" href="#"><i class="bi bi-people fa-fw me-2"></i>Mes échanges</a>
            <a class="list-group-item" href="#"><i class="bi bi-star fa-fw me-2"></i>Mes commentaires</a>
            <a class="list-group-item" href="#"><i class="bi bi-pencil-square fa-fw me-2"></i>Modifier mon profil</a>
            <a class="list-group-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Paramètres</a>
            <a class="list-group-item" href="#"><i class="bi bi-trash fa-fw me-2"></i>Supprimer profil</a>
            <a class="list-group-item text-danger bg-danger-soft-hover" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt fa-fw me-2"></i>Déconnexion</a>
        </nav>
    </div>
    <div class="main-content col-9">
        {% include "profile/components/mySkills.html.twig" %}
    </div>
</section>
{% endblock %}
