<!-- Responsive navbar toggler START -->
<button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-animation">
        <i class="bi bi-list"></i>
    </span>
</button>
<!-- Responsive navbar toggler END -->