{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

    <div class="card border bg-transparent rounded-3 my-4">
        <!-- Card header -->
        <div class="card-header bg-transparent border-bottom">
            <h3 class="card-header-title mb-0 text-center">Modification du mot de passe</h3>
        </div>
        <!-- Card body -->
        <div class="card-body">
            {{ form_start(formChangePassword) }}
                {{ form_row(formChangePassword.oldPassword) }}
                {{ form_row(formChangePassword.newPassword) }}
        </div>
        <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">Valider les modifications</button>
            {{ form_end(formChangePassword) }}
        </div>
    </div>

{% endblock %}