{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

    <h1>Modification du mot de passe</h1>

    {{ form_start(formUpdatePassword) }}
        {{ form_row(formUpdatePassword.oldPassword) }}
        {{ form_row(formUpdatePassword.newPassword) }}
        <button type="submit" class="btn btn-primary">Valider les modifications</button>
    {{ form_end(formUpdatePassword) }}

{% endblock %}