<!-- Card item START -->
<div class="card shadow">
    <!-- Card header -->
    <div class="card-header" style="background-color: {{ type.couleur }}; color: white;">
        {{ type.intitule }} : Exemple
    </div>
    <!-- Card body -->
    <div class="card-body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea illo nemo ab vel? Vero commodi repellat beatae autem aspernatur, repellendus corporis fugiat quam alias nihil! Officiis, totam tempore impedit possimus dolore animi aliquid eligendi est recusandae eveniet aspernatur vel.
    </div>
</div>
<!-- Card item END -->