<!-- Card item START -->
<div class="card shadow">
    <!-- Card header -->
    <div class="card-header" style="background-color: {{ type.couleur }}; color: white;">
        {{ type.intitule }} : Exemple
    </div>
    <!-- Card body -->
    <div class="card-body">
        <img class="graph-img" src="{{ asset('upload/type/graph_exemple.png') }}" alt="composant image">
    </div>
</div>
<!-- Card item END -->