{% extends 'base.html.twig' %}

{% block title %}Types de composants{% endblock %}

{% block body %}

<h1 class="text-center">Types de composants</h1>

<p><a href="{{ path('add_type') }}"><button type="button" class="btn btn-success">Ajouter un type de composant</button></a></p>

<div class="skill-card-gallery m-3">
    <div class="row g-4">
        {% for type in types %}
            <div class="col-sm-6 col-lg-4 col-xl-3">
                {% include "type/card.html.twig" %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
