{% extends 'base.html.twig' %}

{% block title %}Composant : {{ type }}{% endblock %}

{% block body %}

<div style="height: 150px; background-image: url({{ asset("images/maths.jpg") }}); background-size: cover;">

</div>

<h1 class="text-center">Composant : {{ type }}</h1>

<h2>Description</h2>

<p> {{ type.description }} </p>

<h2>Mise en forme standard</h2>

{% include "type/card.html.twig" %}

{% endblock %}