<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/components/portal.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <title>Illustre</title>
    </head>
    <body>
        <header id="portal-header">
            <div class="container display-flex justify-content-center align-items-center">
                <img id="header-logo" src="img/logo_dark.png" alt="logo Illustre">
                <h1 id="portal-title">Illustre</h1>
            </div>
        </header>
        <main>
            <section id="welcome">
                <h1 class="small-padding text-center">Si vous souhaitez apprendre ou transmettre, vous êtes au bon endroit</h1>
                <div>
                    <a href="{{ path('app_register') }}"><button class="large">C'est parti !</button></a>
                    <a href="{{ path('app_login') }}"><button class="large">J'ai déjà un compte</button></a>
                </div>
            </section>
            <section id="presentation">
                <div class="container">
                    <header class="section-header">
                        <h1>Illustre, parce qu'une image vaut parfois mille mots</h1>
                    </header>
                    <div id="wrapper">
                        <div class="one">
                            <h3 class="one-title"><i class="fa-solid fa-pen-ruler x-large"></i> Faites parler votre sens créatif</h3>
                            <p class="text-justified larger">Les sciences sont avant tout une aventure humaine, parcourir les grandes pages du passé nous permet de mieux cerner notre présent.</p>
                        </div>
                        <div class="two">
                            <h3 class="two-title"><i class="fa-solid fa-masks-theater x-large"></i> Libérez vos émotions</h3>
                            <p class="text-justified larger">Qui a dit qu'apprendre était uniquement affaire d'intellect ? On se souvient de ce qui nous stimule. L'envie d'apprendre dépend de l'apprenant, mais elle peut et doit être cultivée par ceux qui conçoivent le contenu.</p>
                        </div>
                        <div class="three">
                            <h3 class="three-title"><i class="fa-solid fa-gears x-large"></i> Développez votre logique</h3>
                            <p class="text-justified larger">Les sujets relatifs à la logique se sont pas assimilés au même rythme par tous, l’apprentissage personnalisé est donc tout indiqué afin que chacun puisse apprendre de façon progressive.</p>
                        </div>
                        <div class="four">
                            <h3 class="four-title"><i class="fa-solid fa-landmark x-large"></i> Visualisez ce que vous construisez</h3>
                            <p class="text-justified large">On peut apprendre efficacement sans s'ennuyer ! Développe tes compétences jour après jour grâce à des exercices motivants et à nos personnages hauts en couleur.</p>
                        </div>
                        <div class="five text-center">
                            <img src="img/learner-img.png" alt="learner image">
                        </div>
                    </div>
                </div>
            </section>
            <section class="small-padding" id="section-quotes">
                <div class="container display-flex flex-direction-column align-items-center">
                    <header class="section-header">
                        <h1>Illustre, comme le nom de ceux qui nous font avancer</h1>
                        <div>
                            <hr>
                        </div>
                    </header>
                    <div id="quotes-container">
                        <div class="quote">
                            <figure class="author-img-container">
                                <img class="author-img" src="img/voltaire.jpg">
                            </figure>
                            <figure>
                                <blockquote class="x-large italic">Il faut savoir s'instruire dans la gaieté. Le savoir triste est un savoir mort. L'intelligence est joie.</blockquote>
                                <figcaption class="small"><strong>Voltaire</strong> - écrivain, philosophe (1694 - 1778)</figcaption>
                            </figure>
                        </div>
                        <div class="quote" id="mid">
                            <figure>
                                <p class="x-large text-end italic">Savoir n'est pas suffisant - Nous devons appliquer... Être prêt n'est pas assez - Nous devons agir.</p>
                                <p class="small text-end"><strong>Leonardo da Vinci</strong> - peintre, inventeur, ingénieur, écrivain (1452 - 1519)</p>
                            </figure>
                            <figure class="author-img-container">
                                <img class="author-img" src="img/leonardo_da_vinci.jpg">
                            </figure>
                        </div>
                        <div class="quote">
                            <figure class="author-img-container">
                                <img class="author-img" src="img/albert_camus.jpg">
                            </figure>
                            <figure>
                                <p class="x-large italic">Comprendre c'est avant tout unifier.</p>
                                <p class="small"><strong>Albert Camus</strong> - écrivain, philosophe (1913 - 1960)</p>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
            <section id="perks" class="small-padding">
                <h1 class="text-center">Apprendre à son rythme, la clé pour s'illustrer</h1>
                <div class="container display-flex align-items-center">
                    <article class="flex-3 large">
                        <p>Il est plus que temps de se servir des outils numériques à notre disposition pour apprendre mieux et plus vite. Si la tendance est plutôt contraire à cela depuis l'avénement des ordinateurs, c'est parce que le plaisir a trop longtemps été mis de côté. Comment alors rivaliser contre des distractions toujours plus impressionnantes de technologie ?</p>
                    </article>
                    <aside class="flex-2 text-center">
                        <img src="img/worldwide.png" alt="worldwide img">
                    </aside>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <div class="display-flex flex-direction-column gap-3">
                    <div class="display-flex">
                        <div class="flex">
                            <h3>Services</h3>
                            <ul class="list-style-none">
                                <li><a class="text-muted text-decoration-none" href="#">Accueil</a></li>
                                <li><a class="text-muted text-decoration-none" href="#">Création de contenu</a></li>
                                <li><a class="text-muted text-decoration-none" href="#">Consultation de contenu</a></li>
                            </ul>
                        </div>
                        <div class="flex">
                            <h3>A propos</h3>
                            <ul class="list-style-none">
                                <li><a class="text-muted text-decoration-none" href="#">Qui sommes-nous ?</a> <span class="badge bg-info">à venir</span></li>
                                <li><a class="text-muted text-decoration-none" href="#">Notre équipe</a> <span class="badge bg-info">à venir</span></li>
                                <li><a class="text-muted text-decoration-none" href="#">Nos carrières</a> <span class="badge bg-info">à venir</span></li>
                            </ul>
                        </div>
                        <div class="flex-2">
                            <h3>Illustre</h3>
                            <p>“Comprendre c'est avant tout unifier.”</p>
                            <p>Ces quelques mots d'Albert Camus résument la volonté qui se cache sous ce site. Celle de vivre ensemble.</p>
                        </div>
                    </div>
                    <div class="text-center display-flex justify-content-center gap-3">
                        <div class="brand-container">
                            <a href="#"><i class="fa-brands fa-discord x-large text-muted text-decoration-none"></i></a>
                        </div>
                        <div class="brand-container">
                            <a href="#"><i class="fa-brands fa-instagram x-large text-muted text-decoration-none"></i></a>
                        </div>
                        <div class="brand-container">
                            <a href="#"><i class="fa-brands fa-pinterest x-large text-muted text-decoration-none"></i></a>
                        </div>
                        <div class="brand-container">
                            <a href="#"><i class="fa-brands fa-youtube x-large text-muted text-decoration-none"></i></a>
                        </div>
                    </div>
                    <p class="text-center">Illustre © 2022</p>
                </div>
            </div>
        </footer>
    </body>
</html>