<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta description="Illustre est une plateforme web dédiée au partage de connaissances avec un système de création / consultation de contenu relié à des domaines d’apprentissage">
        <link rel="stylesheet" href="css/components/portal.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <title>Illustre - plateforme de partage de contenu</title>
    </head>
    <body>
        <header class="display-flex justify-content-center align-items-center" id="portal-header">
            <img id="header-logo" src="img/logo_dark.png" alt="a light bulb shines">
            <strong class="xx-large" id="portal-title">Illustre</strong>
        </header>
        <main>
            <section id="welcome">
                <h1 class="text-center">Vous souhaitez <strong>apprendre</strong> ou <strong>transmettre</strong> ?</br><strong>Illustre</strong> est fait pour vous</h1>
                <div class="display-flex flex-direction-column flex-direction-row-lg align-items-center">
                    <a href="{{ path('app_register') }}"><button class="large button-soft bg-color-goldenrod">C'est parti !</button></a>
                    <a href="{{ path('app_login') }}"><button class="large button-soft bg-color-goldenrod">J'ai déjà un compte</button></a>
                </div>
            </section>
            <section class="small-padding" id="presentation">
                <div class="container display-flex flex-direction-column">
                    <header class="section-header display-flex justify-content-center align-items-center">
                        {# <img class="display-none-md h-3 mr-1" src="img/learner.png" alt="all areas of knowledge come out of the mind of a student's head"> #}
                        <h1 class="text-center">Illustre, parce qu'une image vaut parfois mille mots</h1>
                    </header>
                    <div id="presentation-wrapper">
                        <div class="gc-1-gr-1-sm gc-1-gr-1-lg">
                            <h3 class="one-title text-center"><i class="fa-solid fa-pen-ruler x-large mr-1"></i>Libérez votre <strong>créativité</strong></h3>
                            <p class="text-justified larger">Créez vos propres contenus à partir de vos <strong>connaissances</strong> et partagez ce qui vous a permis de <strong>progresser</strong> en mettant en valeur votre travail avec les outils de votre choix.</p>
                        </div>
                        <div class="gc-2-gr-1-sm gc-3-gr-1-lg ">
                            <h3 class="two-title text-center"><i class="fa-solid fa-masks-theater x-large mr-1"></i>Place aux <strong>émotions</strong></h3>
                            <p class="text-justified larger">Apprendre n'est pas uniquement affaire d'intellect. On se souvient de ce qui nous stimule et l'<strong>envie d'apprendre</strong> doit être cultivée par ceux qui conçoivent le contenu.</p>
                        </div>
                        <div class="display-none gc-2-gr-1-to-3-lg display-flex-lg justify-content-center align-items-center">
                            <img class="img" src="img/learner_lg.png" alt="all areas of knowledge come out of the mind of a student's head">
                        </div>
                        <div class="gc-1-gr-3-sm gc-1-gr-2-lg ">
                            <h3 class="three-title text-center"><i class="fa-solid fa-gears x-large mr-1"></i>Développez votre <strong>logique</strong></h3>
                            <p class="text-justified larger">Les sujets exigeant de la <strong>logique</strong> ne sont pas assimilés au même rythme, l’<strong>apprentissage personnalisé</strong> est une des clés pour que chacun puisse apprendre de façon progressive.</p>
                        </div>
                        <div class="gc-2-gr-3-sm gc-3-gr-2-lg ">
                            <h3 class="four-title text-center"><i class="fa-solid fa-landmark x-large mr-1"></i>Visualisez vos <strong>acquis</strong></h3>
                            <p class="text-justified larger">On peut <strong>apprendre</strong> efficacement sans s'ennuyer ! Développe tes <strong>compétences</strong> jour après jour grâce à des exercices motivants et à nos personnages hauts en couleur.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="small-padding" id="section-quotes">
                <div class="container display-flex flex-direction-column align-items-center">
                    <header class="section-header">
                        <h1 class="text-center"><strong>Illustre</strong>, comme le nom de ceux qui nous font avancer</h1>
                    </header>
                    <div id="quotes-container">
                        <figure class="quote display-flex flex-direction-column-reverse flex-direction-row-md align-items-center">
                            <div class="display-until-md mr-2">
                                <img class="author-img" src="img/voltaire.jpg">
                            </div>
                            <div>
                                <blockquote class="x-large text-start italic">Il faut savoir s'<strong>instruire</strong> dans la gaieté. Le savoir triste est un savoir mort. L'<strong>intelligence</strong> est <strong>joie</strong>.</blockquote>
                                <figcaption class="small display-inline-flex align-items-center">
                                    <img class="author-img-small display-none-md" src="img/voltaire.jpg">
                                    <p><strong>Voltaire</strong> - écrivain, philosophe (1694 - 1778)</p>
                                </figcaption>
                            </div>
                        </figure>
                        <figure class="quote display-flex flex-direction-column-reverse flex-direction-row-md" id="mid">
                            <div>
                                <blockquote class="x-large text-end italic"><strong>Savoir</strong> n'est pas suffisant - Nous devons <strong>appliquer</strong>... Être prêt n'est pas assez - Nous devons agir.</blockquote>
                                <figcaption class="small text-end display-inline-flex align-items-center">
                                    <p class="text-end"><strong>Leonardo da Vinci</strong> - peintre, inventeur, ingénieur, écrivain (1452 - 1519)</p>
                                    <img class="author-img-small display-none-md" src="img/leonardo_da_vinci.jpg">
                                </figcaption>
                            </div>
                            <div class="display-until-md ml-2">
                                <img class="author-img" src="img/leonardo_da_vinci.jpg">
                            </div>
                        </figure>
                        <figure class="quote display-flex flex-direction-column-reverse flex-direction-row-md">
                            <div class="display-until-md mr-2">
                                <img class="author-img" src="img/albert_camus.jpg">
                            </div>
                            <div>
                                <blockquote class="x-large text-start italic"><strong>Comprendre</strong> c'est avant tout unifier.</blockquote>
                                <figcaption class="small display-inline-flex align-items-center">
                                    <img class="author-img-small display-none-md" src="img/albert_camus.jpg">
                                    <p><strong>Albert Camus</strong> - écrivain, philosophe (1913 - 1960)</p>
                                </figcaption>
                            </div>
                        </figure>
                    </div>
                </div>
            </section>
            <section id="perks" class="large-padding">
                <div class="display-flex justify-content-center align-items-center">
                    {# <img class="display-none-md h-4 mr-1" src="img/worldwide.png" alt="the planet Earth is crossed by internet network"> #}
                    <h1 class="text-center">Apprendre à son rythme, la clé pour s'illustrer</h1>
                </div>
                <figure class="text-center">
                    <img class="display-none-md h-8 mr-1" src="img/worldwide.png" alt="the planet Earth is crossed by internet network">
                </figure>
                <div class="container display-flex align-items-center">
                    <article class="flex-3 mb-2">
                        <p class="text-justified larger">Il est temps de se servir des <strong>outils numériques</strong> pour apprendre. Nous devons nous donner les moyens de rivaliser avec des distractions toujours plus impressionnantes de <strong>technologie</strong>. Et pour ce faire, quoi de mieux que de tenir compte de ce que souhaite les apprenants ?</p>
                    </article>
                    <aside class="display-none display-md flex-2 text-center mb-2">
                        <img class="h-10" src="img/worldwide.png" alt="the planet Earth is crossed by internet network">
                    </aside>
                </div>
            </section>
            <section class="small-padding" id="section-contact">
                <div class="container">
                    <header class="section-header text-center">
                        <h1>Vous souhaitez nous contacter ?</h1>
                    </header>
                    <form action="submit">
                        <div class="container display-grid-md gtc-2-md">
                            <div class="form-name display-flex flex-direction-column m-1">
                                <label for="" class="required">Nom</label>
                                <input class="border-soft" type="text">
                            </div>
                            <div class="form-email display-flex flex-direction-column m-1">
                                <label for="" class="required">Email</label>
                                <input class="border-soft" type="text">
                            </div>
                            <div class="form-cellphone display-flex flex-direction-column m-1">
                                <label for="">Téléphone</label>
                                <input class="border-soft" type="text">
                            </div>
                            <div class="form-subject display-flex flex-direction-column m-1">
                                <label for="">Sujet</label>
                                <input class="border-soft" type="text">
                            </div>
                            <div class="form-message display-flex flex-direction-column m-1">
                                <label for="" class="required">Message</label>
                                <textarea class="border-soft textarea-height" name="" id=""></textarea>
                            </div>
                            <div class="form-button text-center m-1">
                                <button class="button-soft larger" type="submit">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>     
        </main>
        <footer>
            <div class="container large-padding">
                <div class="display-flex flex-direction-column gap-3by2">
                    <div class="display-grid gtc-4-md gap-3by2-md">
                        <div class="gc-1-gr-1-sm gc-1-gr-1-md text-center text-start-md">
                            <h3>Services</h3>
                            <ul class="list-style-none">
                                <li><a class="text-muted text-decoration-none" href="#">Accueil</a></li>
                                <li><a class="text-muted text-decoration-none" href="#">Création de contenu</a></li>
                                <li><a class="text-muted text-decoration-none" href="#">Consultation de contenu</a></li>
                            </ul>
                        </div>
                        <div class="gc-2-gr-1-sm gc-2-gr-1-md text-center text-start-md">
                            <h3>A propos</h3>
                            <ul class="list-style-none">
                                <li><a class="text-muted text-decoration-none" href="#">Qui sommes-nous ?</a> <span class="badge bg-info">à venir</span></li>
                                <li><a class="text-muted text-decoration-none" href="#">Notre équipe</a> <span class="badge bg-info">à venir</span></li>
                                <li><a class="text-muted text-decoration-none" href="#">Mentions légales</a></li>
                            </ul>
                        </div>
                        <div class="gc-1-to-3-gr-2-sm gc-3-to-5-gr-1-md text-center text-start-md">
                            <h3>Illustre</h3>
                            <p>“Comprendre c'est avant tout unifier.”</p>
                            <p>Ces mots d'Albert Camus résument la volonté qui se cache sous ce site. Celle de vivre ensemble.</p>
                        </div>
                    </div>
                    <div class="text-center display-flex justify-content-center gap-3by2">
                        <div class="brand-container">
                            <a href="#"><i class="fa-brands fa-discord x-large text-muted text-decoration-none"></i></a>
                        </div>
                        <div class="brand-container">
                            <a href="#"><i class="fa-brands fa-instagram x-large text-muted text-decoration-none"></i></a>
                        </div>
                        <div class="brand-container">
                            <a href="#"><i class="fa-brands fa-pinterest x-large text-muted text-decoration-none"></i></a>
                        </div>
                        <div class="brand-container">
                            <a href="#"><i class="fa-brands fa-youtube x-large text-muted text-decoration-none"></i></a>
                        </div>
                    </div>
                    <p class="text-center">Illustre © 2022</p>
                </div>
            </div>
        </footer>
    </body>
</html>