<h1>Bienvenue parmi nous !</h1>

<p>
   Bonjour,
   
   Merci d’avoir créé votre compte sur Illustre. Nous sommes ravis de vous compter parmi notre communauté ! Veuillez cliquer sur le lien suivant afin de confirmer votre email<br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A très vite !
</p>
