<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
        <a class="nav-link" href="{{ path('index_domaine') }}">Domaines</a>
        <a class="nav-link" href="{{ path('index_competence') }}">Compétences</a>
        <a class="nav-link" href="{{ path('index_conception') }}">Conception</a>
    </nav>
</header>