{% extends 'base.html.twig' %}

{% block title %}{{ competence }}{% endblock %}

{% block body %}

</div>

<h1 class="text-center">Compétence : {{ competence }}</h1>

<h2>Description</h2>

<p> {{ competence.description }} </p>

{% endblock %}