{% extends 'base.html.twig' %}

{% block title %}{{ competence }}{% endblock %}

{% block body %}

<h1 class="text-center">Compétence : {{ competence }}</h1>

<h2>Description</h2>

<p> {{ competence.description }} </p>

<div class="row g-4 col-sm-12 col-lg-9 col-lg-6 m-auto">
    {% for composant in competence.composants %}
        <div class="my-2">
            {% if composant.type.affichage == 'carte' %}
                {% include "composant/type/card.html.twig" %}
            {% elseif composant.type.affichage == 'graphique' %}
                {% include "composant/type/graph.html.twig" %}    
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}