@import 'components/card.css';
@import 'components/home.css';
@import 'components/nav.css';
@import 'components/profile.css';
@import 'components/footer.css';
@import 'components/search.css';

.tribute {
    background-color: lightgray;
}
fieldset {
    display: none;
}
.disabled {
    cursor: default;
    color: lightgray;
}
.disabled:hover {
    background-color: transparent;
    color: lightgray;
}
.competence-choice.active {
    border: solid green 5px;
    border-radius: 10px;
}
.competence-choice.update.active {
    border: solid red 5px;
    border-radius: 10px;
}
.competence-choice, .competence-choice.update {
    cursor: pointer;
}
.icon {
    width: 4rem;
    object-fit: cover;
}
.idea-icon {
    width: 3.5rem;
    object-fit: cover;
}
.skill-img {
    width: 3.5rem;
    object-fit: cover;
}
#page-header {
    z-index: 100;
    border-bottom: 1px solid grey;
}
#page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
h1 {
    text-align: center;
    margin: 1rem 0;
}
main {
    position: relative;
}
.banner {
    height: 12.5vw;
    min-height: 100px;
    max-height: 150px;
}
.skill-card-gallery {
    display: inline-flex;
}
.bg-navy {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}
/* .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 } */
 .login-container {
    display: flex;
    justify-content: center;
 }
 .card-footer.login {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.nav-pills-bg-soft {
    background-color: rgba(6, 106, 201, 0.1);
    padding: 0.625rem 0;
    border-radius: 0.625rem;
}
#navFirstPartContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#navSecondPartContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.domaine-img-container {
    height: 500px;
    width: 100%;
    text-align: center;
}
.domaine-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
