@import 'components/card.css';
@import 'components/nav.css';
@import 'components/profile.css';
@import 'components/footer.css';


.competence-choice.active {
    border: solid green 5px;
}
.competence-choice {
    cursor: pointer;
}

.icon {
    width: 4rem;
    object-fit: cover;
}
.skill-img {
    width: 3.5rem;
    object-fit: cover;
}
#page-header {
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid grey;
}
#page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bi-lightbulb:hover {
    background-color: #f7ff3c;
    opacity: 100;
    border-radius: 50%;
    backdrop-filter: blur(1rem);
}
.badge {
    margin-left: 1rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
h1 {
    text-align: center;
    margin: 1rem 0;
}
#logo {
    filter: sepia(100%);
}
.banner {
    height: 12.5vw;
    max-height: 150px;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
}
.skill-card-gallery {
    display: inline-flex;
}
.bg-navy {
    /* background-color:rgb(0, 0, 128, 0.85); */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}
/* .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 } */
 .login-container {
    display: flex;
    justify-content: center;
 }
 .card-footer.login {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.nav-pills-bg-soft {
    background-color: rgba(6, 106, 201, 0.1);
    padding: 0.625rem 0;
    border-radius: 0.625rem;
}
#navFirstPartContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#navSecondPartContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
