/* applies to all */
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    margin: 0;
}
.small-padding {
    padding: 1rem 1rem;
}
.large-padding {
    padding: 1em 2em;
}
.text-center {
    text-align: center;
}
.text-start {
    text-align: start;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.display-grid {
    display: grid;
    grid-auto-rows: auto;
}
.display-flex {
    display: flex;
}
.display-inline-block {
    display: inline-block;
}
.display-inline-flex {
    display: inline-flex;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.flex-direction-row {
    flex-direction: row;
}
.flex-direction-column {
    flex-direction: column;
}
.flex-direction-column-reverse {
    flex-direction: column-reverse;
}
.flex {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-wrap {
    flex-wrap: wrap;
}
.list-style-none {
    list-style: none;
    padding-left: 0;
}
.text-muted {
    color: lightslategray;
}    
.text-decoration-none {
    text-decoration: none;
}
.text-justified {
    text-align: justify;
}
.justify-content-center {
    justify-content: center;
}
.italic {
    font-style: italic;
}
.text-end {
    text-align: end;
}
.xx-large {
    font-size: xx-large;
}
.x-large {
    font-size: x-large;
}
.large {
    font-size: large;
}
.larger {
    font-size: larger;
}
small {
    font-size: small;
}
.img {
    max-width: minmax(100%, 250px);
}
input {
    line-height: 1.5rem;
}
.h-3 {
    height: 3rem;
}
.h-4 {
    height: 4rem;
}
.mr-1 {
    margin-right: 1rem;
}
.display-none {
    display: none;
}

/* header */

#portal-header {
    height: 4rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    position: relative;
}
#header-logo {
    height: 3rem;
    margin-right: 1rem;
}
#portal-title {
    color: white;
}
.m-1 {
    margin: 0.5rem;
}

/* ------------------ */

/* section welcome */

#welcome {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    background-image: url(../../img/welcome_img.jpg);
    background-position: center;
    background-size: cover;
}
#welcome>h1 {
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin: 0 1rem;
    font-size: 1.75rem;
    line-height: 2.5rem;
}
.button-soft {
    padding: 0.6em 1em;
    border: 1px solid black;
    border-radius: 10px;
}
a>button {
    color: black;
    font-weight: bold;
    width: fit-content;
    margin: 15px;
}
.bg-color-goldenrod {
    background-color: goldenrod;    
}

/* --------------- */

/* section presentation */

#presentation-wrapper {
    display: grid;
    gap: 2rem;
    grid-auto-rows: auto;
}
.one-title {
    color: goldenrod;
}
.two-title {
    color: darkorchid;
}
.three-title {
    color: darkgreen;
}
.four-title {
    color: deepskyblue;
}

/* --------------- */

/* section quotes */

#section-quotes {
    border: 1px solid lightgray;
    background-color: whitesmoke;
}
blockquote {
    margin-inline: 0;
}
.quote {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.author-img {
    width: 5rem;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    margin: 10px 15px;
}
.author-img-small {
    width: 3rem;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    margin: 10px 15px;
}
#mid {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

/* --------------- */

/* section contact */

#section-contact {
    border: 1px solid lightgray;
    background-color: whitesmoke;
}
.border-soft {
    border-radius: 10px;
}
.form-name {
    grid-column: 1;
    grid-row: 1;
}
.form-email {
    grid-column: 1;
    grid-row: 2;
}
.form-cellphone {
    grid-column: 1;
    grid-row: 3;
}
.form-subject {
    grid-column: 2;
    grid-row: 1;
}
.form-message {
    grid-column: 2;
    grid-row: 2/4;
}
.form-button {
    grid-column: 1/3;
    grid-row: 5;
}
.textarea-height {
    min-height: 5rem;
}

/* --------------- */

/* footer */

footer {
    color: whitesmoke;
    background-color:#282d32;
}
.brand-container {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gap-3by2 {
    gap: 1.5rem;
}

@media (min-width: 576px) {

    .small-padding {
        padding: 1rem 1.5rem;
    }
    .large-padding {
        padding: 1rem 3rem;
    }
    /* welcome */
    #welcome>h1 {
        font-size: 1.75rem;
        line-height: 2.5rem;
    }

    /* section presentation */
    #presentation-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .gc-1-gr-1-sm {
        grid-column: 1;
        grid-row: 1;
    }
    .gc-2-gr-1-sm  {
        grid-column: 2;
        grid-row: 1;
    }
    .gc-1-gr-2-sm  {
        grid-column: 1;
        grid-row: 2;
    }
    .gc-2-gr-2-sm {
        grid-column: 2;
        grid-row: 2;
    }
    .gc-1-to-3-gr-2-sm  {
        grid-column: 1/3;
        grid-row: 2;
    }    
    /* --------------- */
}

@media (min-width: 768px) {
    .gap-3by2-md {
        gap: 1.5rem;
    }
    .display-none-md {
        display: none;
    }
    .flex-direction-row-md {
        flex-direction: row;
    }
    /* footer */
    .gtc-4-md {
        grid-template-columns: repeat(4, 1fr);
    }
    .gc-1-gr-1-md {
        grid-column: 1;
        grid-row: 1;
    }
    .gc-2-gr-1-md {
        grid-column: 2;
        grid-row: 1;
    }
    .gc-3-to-5-gr-1-md {
        grid-column: 3/5;
        grid-row: 1;
    }
    .text-start-md {
        text-align: start;
    }
    /* section perks */
    .display-none-md {
        display: none;
    }
    .display-md {
        display: block;
    }
    /* section contact */
    .display-grid-md {
        display: grid;
    }
    .gtc-2-md {
        grid-template-columns: repeat(2, 1fr);
    }
    .textarea-height {
        height: 100%;
    }
}

@media (min-width: 992px) {
    /* general */
    .small-padding {
        padding: 1rem 3rem;
    }
    .large-padding {
        padding: 1em 6em;
    }
    .flex-direction-row-lg {
        flex-direction: row;
    }
    .display-flex-lg {
        display: flex;
    }
    /* welcome */
    #welcome>h1 {
        font-size: 2rem;
        line-height: 3.5rem;
    }

/* section presentation */
    #presentation-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
    .gc-1-gr-1-lg {
        grid-column: 1;
        grid-row: 1;
    }
    .gc-3-gr-1-lg {
        grid-column: 3;
        grid-row: 1;
    }
    .gc-1-gr-2-lg {
        grid-column: 1;
        grid-row: 2;
    }
    .gc-3-gr-2-lg {
        grid-column: 3;
        grid-row: 2;
    }
    .gc-2-gr-1-to-3-lg {
        grid-column: 2;
        grid-row: 1/3;
    }
    
/* --------------- */
}

@media (max-width: 768px) {
    .display-until-md {
        display: none;
    }
    /* presentation */
    /* #presentation-wrapper {
        gap: 2rem;
        grid-auto-rows: minmax(70px, auto);
    } */
}

@media (max-width: 576px) {
    figure {
        margin-inline: 1rem;
    }
    /* presentation */
    #presentation-wrapper {
        gap: 0;
        grid-auto-rows: minmax(70px, auto);
    }
}