<div class="card border bg-transparent rounded-3">
    <!-- Card header START -->
    <div class="card-header bg-transparent border-bottom">
        <h3 class="mb-0">Tableau de bord</h3>
    </div>
    <!-- Card header END -->

    <!-- Card body START -->
    <div class="card-body">

    </div>
    <!-- Card body END -->
</div>