{% extends "base.html.twig" %}

{% block title %}Suppression du profil{% endblock %}

{% block body %}

    <div class="card border bg-transparent rounded-3 mb-0">
        <!-- Card header -->
        <div class="card-header bg-transparent border-bottom text-center">
            <h3 class="card-header-title mb-0">Supprimer mon compte</h3>
        </div>
        <!-- Card body -->
        <div class="card-body">
            <h6>A savoir avant de nous quitter</h6>
            <ul>
                <li>Si vous supprimez votre compte, vous perdrez toutes vos données</li>
            </ul>
            <div class="form-check form-check-md my-4">
                <input class="form-check-input" type="checkbox" value="" id="deleteaccountCheck">
                <label class="form-check-label" for="deleteaccountCheck">Je confirme vouloir supprimer mon compte</label>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="{{ path('index_profile') }}" class="btn btn-success mb-2 mb-sm-0">Conserver mon compte</a>
            <a href="#" class="btn btn-danger mb-0">Supprimer mon compte</a>
        </div>
    </div>


{% endblock %}