{% extends 'base.html.twig' %}

{% block title %}Ajout d'un composant{% endblock %}

{% block body %}

    <h1>Quel type de composant souhaitez-vous créer ?</h1>

    {{ form_start(formComposant) }}
    {{ form_end(formComposant) }}

{% endblock %}