{% extends 'base.html.twig' %}

{% block title %}Liste des composants{% endblock %}

{% block body %}

<h1>Composants existants</h1>

<p><a href="{{ path('add_composant') }}"><button type="button" class="btn btn-success">Ajouter un composant</button></a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>composant</th>
        </tr>
    </thead>
    <tbody>
        {% for composant in composants %}
        <tr>
            <td><a href="{{ path('show_composant', {'id': composant.id}) }}">{{ composant }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

