{% extends 'base.html.twig' %}

{% block title %}Liste des composants{% endblock %}

{% block body %}

<h1>Composants existants</h1>

<p><a href="{{ path('add_composant') }}"><button type="button" class="btn btn-success">Ajouter un composant</button></a></p>

<div class="skill-card-gallery">
    <div class="row g-4">
        {% for composant in composants %}
            {% include "type/card.html.twig" %}
        {% endfor %}
    </div>
</div>


{% endblock %}

