{% extends 'base.html.twig' %}

{% block title %}Ajout de composant{% endblock %}

{% block body %}

<h1 class="text-center">Composant : {{ composant }}</h1>

<h2>Contenu textuel</h2>

<p> {{ composant.textContent }} </p>

<h2>Mise en forme standard</h2>

    {% if composant.type.affichage == 'carte' %}
        {% include "composant/type/card.html.twig" %}
    {% elseif composant.type.affichage == 'graphique' %}
        {% include "composant/type/graph.html.twig" %}    
    {% endif %}

{% endblock %}