{% extends 'base.html.twig' %}

{% block title %}Hello ApprentissageController!{% endblock %}

{% block body %}

<p>Apprentissage de la compétence {{ apprentissage.competenceSuivie }} par {{ apprentissage.apprenant }}</p>


{% endblock %}
