{% extends 'base.html.twig' %}

{% block title %}Apprentissage {{ apprentissage.competenceSuivie }}{% endblock %}

{% block body %}

<p>Apprentissage de la compétence {{ apprentissage.competenceSuivie }} par {{ apprentissage.apprenant }}</p>

{% endblock %}
