{% extends 'base.html.twig' %}

{% block title %}Mathématiques{% endblock %}

{% block body %}

<h1>Branches des Mathématiques</h1>

<p><a href="{{ path('add_domaine') }}"><button type="button" class="btn btn-success">Ajouter une branche</button></a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Domaine</th>
        </tr>
    </thead>
    <tbody>
        {% for domaine in domaines %}
        <tr>
            <td><a href="{{ path('show_domaine', {'id': domaine.id}) }}">{{ domaine }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
